.ProductsRoot {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #d8d8d7;
  background-color: #f3f3f2;
}

.ProductsContainer {
  width: 100%;
  height: 90%;
  display: flex;
  overflow-x: scroll; /* Enable horizontal scrolling */
  white-space: nowrap; /* Ensure that child elements don't wrap to the next line */
  position: relative;
}

.ProductsList {
  display: flex;
  
}

.product-child {
  width: 500px; /* Each .product-child takes 20% of the parent width */
  height: auto;
  object-fit: cover;
  text-align: center;
  background-color: #f3f3f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* Styles for .product-child img (image) */
.product-child img {
  max-width: 100%; /* Ensure the image doesn't exceed the column width */
  height: auto;
  opacity: 0; /* Initially, set the opacity to 0 */
  transition: opacity 1s ease-in-out;
}

/* CSS for the fade-in effect when the element is visible */
.product-child img.fade-in {
  opacity: 1;
}

.scroll-button {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 30px; /* Adjust the button width as needed */
  background-color: #f3f3f2;
  border: none;
  cursor: pointer;
}

.scroll-button.left {
  left: 0;
}

.scroll-button.right {
  right: 0;
}

/* Styles for internal children of .textColumn */
/* .heading {
  font-size: 24px;
  font-family: 'Dancing Script', cursive;
  font-weight: 400;
  font-style: normal;
  color: #1c1b1b;
  letter-spacing: .2em;
  text-transform: uppercase;
}

.description {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-weight: bolder;
  font-style: normal;
  color: #1c1b1b;
  background: #f3f3f2;
  line-height: 1.65;
  text-align: left;
}

.text {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-weight: bolder;
  font-style: normal;
  color: #1c1b1b;
  background: #f3f3f2;
} */

/* Responsive Styles */
/* @media screen and (max-width: 1024px) {
  .featureShowRoot {
    flex-direction: column;
  }

  .textColumn, .product-child {
    width: 100%;
  }

  .textColumn, .product-child img {
    max-width: 100%;
  }
} */
